@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @model List<RobotModel>
        @foreach (var item in Model)
        {
            <div class="col-xs-3">
                <h1>@item.Name</h1>
            </div>
        }
</div>
